@import "./variables";
@import "./mixings";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    overflow-x: hidden;
    overflow-y: visible;
    height: 100vh;
    font-size: calc(100vw / 1440 * 16);
}
body{
    background-color: $secondary-background-color;
    font-family: 'Karla', sans-serif;
    padding: 20px;
}
button{
    outline: none;
    border: none;
    font-family: inherit;
}